<section data-ng-controller="deleteBorrowerCtrl">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">Delete Borrower</h4>
	</div>
	<div class="modal-body">
		<h4>Do you want to delete this borrower?</h4>
		<h5 ng-model="name" /></h5>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
		<button type="button" class="btn btn-primary"
			ng-click="deleteBorrower();">Save changes</button>
	</div>

</section>