<section data-ng-controller="listBranchesCtrl">
<div class="modal-header">
	<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addBranch()">
  		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Library Branch
	</button>
	<h4 class="modal-title">Library Branch</h4>
</div>

<div class="modal-body">

	<ng-lms-search-box searchtype="Branches" maxResult=5 ng-model="searchText"></ng-lms-search-box>
    	
	<div id="branchList">
	  	<table class="table">
			<tr>
				<th style="text-align:center">Name</th>
				<th style="text-align:center">Address</th>
				<th style="text-align:center">Edit</th>
				<th style="text-align:center">Delete</th>
			</tr>
			<tr ng-repeat="branch in branches">
				<td style="text-align:center">{{branch.name}}</td>
				<td style="text-align:center">{{branch.address}}</td>
				<td style="text-align:center">
					<a href="javascript:;" ng-click="editBranch(branch);" data-target="#myModal1" data-toggle="modal">
						<i class="fa fa-pencil-square-o"></i>
					</a>
				</td>
				<td style="text-align:center"><button type="button" class="btn btn-danger btn-circle" ng-click="deleteBranch(branch);"> 
					<i class="fa fa-remove"></i></button></td>
			</tr>
		</table>
	</div>
</div>

<nav align="center">
	<ul class="pagination">
		<li><a>left</a></li>
		<li ng-repeat-start="i in range"></li>
		<li><a href="javascript:;" ng-click="pageBrsnches(i);">{{i}}</a></li>
		<li ng-repeat-end></li>
		<li><a>right</a></li>
	</ul>
</nav>

</section>
