<section data-ng-controller="listPublishersCtrl">
<div class="modal-header">
	<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addPublisher()">
  		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Publisher
	</button>
	<h4 class="modal-title">Publishers</h4>
</div>

<div class="modal-body">
	<ng-lms-search-box searchtype="Publishers" maxResult=5 ng-model="searchText"></ng-lms-search-box>
	<div id="publishersList">
	  	<table class="table">
			<tr>
				<th style="text-align:center">Name</th>
				<th style="text-align:center">Address</th>
				<th style="text-align:center">Phone</th>
				<th style="text-align:center">Edit</th>
				<th style="text-align:center">Delete</th>
			</tr>
			<tr ng-repeat="publisher in publishers">
				<td style="text-align:center">{{publisher.publisherName}}</td>
				<td style="text-align:center">{{publisher.address}}</td>
				<td style="text-align:center">{{publisher.phone}}</td>
				<td style="text-align:center">
					<a href="javascript:;" ng-click="editPublisher(publisher);" data-target="#myModal1" data-toggle="modal">
						<i class="fa fa-pencil-square-o"></i>
					</a>
				</td>
				<td style="text-align:center"><button type="button" class="btn btn-danger btn-circle" ng-click="deletePublisher(publisher);"> 
					<i class="fa fa-remove"></i></button></td>
			</tr>
		</table>
	</div>
</div>

<nav align="center">
	<ul class="pagination">
		<li><a>left</a></li>
		<li ng-repeat-start="i in range"></li>
		<li><a href="javascript:;" ng-click="pagePublisher(i);">{{i}}</a></li>
		<li ng-repeat-end></li>
		<li><a>right</a></li>
	</ul>
</nav>

</section>
